{% extends 'app/newbase.html' %} 
{% load static %} 
{% block title%}
Courses
{% endblock title %}




{% block content %}



<section id="slider" class="pt-5">
    <div class="container">
        <center><h4 style="color: green;">GUARANTEED SUCCESS</h4>
            <h1>Our Popular Courses</h1><br>
            <h2>we give the best courses in terms of quality</h2></center> 
        <div class="slider">
                  <div class="owl-carousel">
                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/Blockchain.jpg' %}" alt="Blockchain.jpg image">
                        </div>
                          <h5 class="mb-0 text-center"><b> Blockchain Technology</b></h5>
                          <p class="text-center p-4">Blockchain is important as it provides a secure and transparent way of storing and sharing data and information.</p>
                      </div>


                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/Full-StackWebDevelopment.jpg' %}" alt="Full-StackWebDevelopment  image">
                        </div>
                          <h5 class="mb-0 text-center"><b>Full-Stack Web Development</b></h5>
                          <p class="text-center p-4">Full-Stack Web Development is important as it provides the knowledge and skills to build and maintain websites and web applications from front-end to back-end.</p>
                      </div>



                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/InternetofThings.jpg' %}" alt=" Internet of Things  image">
                        </div>
                          <h5 class="mb-0 text-center"><b>   Internet of Things (IoT)</b></h5>
                          <p class="text-center p-4"> The Internet of Things (IoT) is crucial as it refers to the interconnectivity of physical devices, vehicles, and home appliances that are embedded with electronics, software, and sensors.</p>
                      </div>


                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/Cybersecurity.jpg' %}" alt="Cybersecurity image">
                        </div>
                          <h5 class="mb-0 text-center"><b>Cybersecurity</b></h5>
                          <p class="text-center p-4">Cybersecurity is important as it involves protecting systems, networks, and data from cyber-attacks and unauthorized access.</p>
                      </div>


                     <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/ArtIntelli.jpg' %}" alt="Artificial Intelligence and Machine Learning  image">
                        </div>
                          <h5 class="mb-0 text-center"><b>Artificial Intelligence and Machine Learning</b></h5>
                          <p class="text-center p-4">Artificial Intelligence (AI) and Machine Learning (ML) are important as they are the future of technology.</p>
                      </div> 


                      <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/cloud.jpg' %}" alt="  Cloud Computing image">
                        </div>
                        <h5 class="mb-0 text-center"><b>Cloud Computing</b></h5>
                        <p class="text-center p-4">Cloud Computing is important as it refers to the delivery of computing services, such as servers, storage, databases, networking, software, analytics, and intelligence, over the internet.</p>
                    </div> 


                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/devops.jpg' %}" alt="devops image">
                        </div>
                        <h5 class="mb-0 text-center"><b>DevOps</b></h5>
                        <p class="text-center p-4"> DevOps is important as it focuses on the collaboration and communication between development and operations teams in order to increase efficiency and effectiveness in software delivery.</p>
                    </div> 


                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/icon/mobile.jpg' %}" alt=" Mobile Application Development image">
                        </div>
                        <h5 class="mb-0 text-center"><b> Mobile Application Development</b></h5>
                        <p class="text-center p-4"> Mobile Application Development is important as it involves creating software for mobile devices, such as smartphones and tablets.</p>
                    </div> 
                    
                  </div>
              </div>
    </div>
  </section>



{% endblock content %}