{% extends 'app/newbase.html' %} 
{% load static %} 
{% block title%}
Home
{% endblock title %}



{% block content %}
<div style="display:block">
    <br><br>
    <center><h1 class="welcome"> <strong>Welcome {{username}}</strong></h1></center>
<section id="slider" class="pt-5">
    <div class="container">
      <h3 class="text-center"><i>Here is our menu</i></h3>
        <div class="slider">
                  <div class="owl-carousel">
                    <a href="{% url 'hackathon' %}" class="malink">
                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/hackathon.jpg' %}" alt="hackathon image">
                          </div>
                          <h5 class="mb-0 text-center"><b>Hackathon</b></h5>
                          <p class="text-center p-4">Enter into new world</p>
                      </div></a>
                     
                      <a href="{% url 'courses' %}"class="malink">
                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/cours.jpg' %}" alt="Notes image">
                          </div>
                          <h5 class="mb-0 text-center"><b>Courses</b></h5>
                          <p class="text-center p-4">Discover our most courses</p>
                      </div>
                    </a>
                      <a href="{% url 'youtube' %}"class="malink">
                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="Notes image">
                          </div>
                          <h5 class="mb-0 text-center"><b>  Youtube</b></h5>
                          <p class="text-center p-4">Search Youtube and select your desired video to play it on youtube</p>
                      </div>
                    </a>
                      <a href="{% url 'Dev' %}"class="malink">
                      <div class="slider-card">
                          <div class="d-flex justify-content-center align-items-center mb-4">
                            <img class="card-img-top" src="{% static 'images/developperCommunity.jpg' %}" alt="Notes image">
                        </div>
                          <h5 class="mb-0 text-center"><b> Developper Community</b></h5>
                          <p class="text-center p-4">Continuous learning - The developer community values continuous learning and professional development, with frequent events, meetups, and workshops..</p>
                      </div>
                    </a>
                  </div>
              </div>
    </div>
  </section>
</div>




{% endblock content %}

