{% extends 'app/base.html' %} 
{% load static %} 

{% block title%}
LOGIN
{% endblock title %}

  
{% block css %}
<style>
body{
	

	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: #f2b192;



}

.containeree{

	/*  	 */
	
	
	position: relative;
	display: flex;
	margin: auto;
	margin-top: 10%;
	border: none;
	width: 900px;
	height: 580px;
	box-shadow: 0 10px 20px RGBA(0,0,0,0.4) ;

}

.boxee{
	/* border: 1px solid; */
	width: 50%;
	background-color: #eba176;
    padding-top: 100px;	
	
}
.bimg{
	margin-left: 0px;
	
}
.imgee{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.iconee{
	width: 22px;
	
	margin-right: 15px;
	margin-bottom: -8;
	padding-left: 10;
}
tableee{
	margin-top: 70px;
}




input{
	border: none;
	border-color: #fff;
	margin: 3px;
	width: 250px;
	height: 50px;
	padding: 10px;
	outline: none;
	border-radius: 15px;
	font-size: 17px;
	margin-bottom: 5px;
	
}

/* input:active{
	border: none;
}
input:hover{
	border: none;
} */


.inp{
	display: flex;
	margin-left: 20px;
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	
}
a{
	padding-top:0px;
	margin-left: 40px;
	text-decoration: none;
	font-size: large;
}

a:hover{
	color: #541a8b93;
}

a:active{
	color: yellow;
	font-weight:600;
}

button{
	margin-top: 20px;
	margin-left: 35px;
	width: 100px;
	height: 40px;
	background-color:#E57744;
	outline: none;
	border: none;
	border-radius:15px;
	font-size: 16px;
}
button:hover{
	background-color: #e577447b;


}
button:active{
	/* border: 3px solid; */
	background-color: #6ba0f7;
	font-weight:600;


}

.champ{
	background-color: #fff;
	border-radius: 15px;
	width: 350px;
}
</style>

{% endblock css %}


{% block content %}
{% comment %} <div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">

        Sign In
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </small>
  </div>
</div> {% endcomment %}

<div class="containee">

			
				
  <div class="boxee">
              <form  action="" method="POST">

      <tableee>
        <th>
          SIGN IN
        </th>
        <tr>
          <td class="inp">
            <div class="champ">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon">
                <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>

              <input type="text" placeholder="Nom" >
            </div>
            
          </td>
        </tr>
        
        <tr>
          
          <td class="inp">
            <div class="champ">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon">
                <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
              <input type="text" placeholder="Password">
            </div>
            


          </td>
        </tr>
        <tr>

          <td>
            <a href="#" > Sign up</a>
            <a href="#" > Reload</a>
          </td>
          
        </tr>
      </tableee>
      <button type="submit">Register</button>	
    </form>
            


          
  </div>

          <div class="bimg">
              <img class="imgee" src="{% static 'images/conect/log.jpg' %} alt="sign" >	
          </div>



</div>



{% endblock content %}

